section {
  min-height: 100vh;
  padding: 30px 0;
}


h1 {
  text-align: center;
  margin: 18px 0;
}

section#intro {
  background-image: url('img/bg-intro.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: orange;
}

/* icon animation */
.fa-truck{
  width: 100%;
  animation: animationFrames linear 3s;
  text-align: center;

}

@keyframes animationFrames{
  0% {
    transform: translateX(0px) translateY(0px);
  }

  40% {
    transform: translateX(300px) translateY(0px);
  }

  41% {
    transform: translateX(300px) translateY(100px);
  }
  42%{
    transform: translateX(-300px) translateY(100px);
  }
  43%{
    transform: translateX(-300px) translateY(0px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

/* @-moz-keyframes animationFrames{
  0% {
    transform:  translate(0px);
  }
  100% {
    transform:  translate(200px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    transform:  translate(0px);
  }
  100% {
    transform:  translate(200px);
  }
}

@-o-keyframes animationFrames {
  0% {
    transform:  translate(0px);
  }
  100% {
    transform:  translate(200px);
  }
}

@-ms-keyframes animationFrames {
  0% {
    transform:  translate(0px);
  }
  100% {
    transform:  translate(200px);
  }
} */

.arrow-animation{
  text-align: center;
}

#dechets {
  /* padding: 30px 0; */
}

.intro-section {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}




.icons {
  max-width: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(255, 161, 36);
  border-radius: 5px;
}

@media screen and (min-width: 900px) {
  .icons {
    max-width: 80px;
  }
}


.tform {
  font-size: 140%;
}

.stform {
  font-size: 100%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}


/* #quoi .dechet {
  background-color: limegreen;
} */

.carte {
  padding: 20px;
  flex: 1;
}

.carte iframe {
  width:100%;
  min-height: 70vh;
}

.recolte-container {
  display: flex;
  flex-direction: column;
}

#recolte .container {
  height: 100%;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#intro .container {

  background-color: rgba(0, 0, 0, 0.7);
}


