section {
  min-height: 100vh;
  padding: 30px 0;
}

h1 {
  text-align: center;
  margin: 18px 0;
}

section#intro {
  background-image: url('img/bg-intro.jpeg');
  background-size: cover;
}

#dechets {
  /* padding: 30px 0; */
}

.intro-section {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* #quoi .dechet {
  background-color: limegreen;
} */

.carte {
  padding: 20px;
  flex: 1;
}

.carte iframe {
  width:100%;
  min-height: 70vh;
}

.recolte-container {
  display: flex;
  flex-direction: column;
}

#recolte .container {
  height: 100%;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
